<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分配类排序系统</title>
    <style>
        .a{
            text-decoration:none;  /*清除下划线  */

            font-family: "楷体";/*设置字体种类*/

            color: blue;/*设置字体颜色*/

            font-size: 40px;/*设置字体大小*/
        }
    </style>
</head>
<body>
    <div align="center">
        <h1>分配类排序系统</h1>
    </div><hr/>
    <div align="center">
        <table class="table table-hover" border="1" style="width: 500px; height: 200px; color: goldenrod">
            <tr>
                <td><h2>插入排序:</h2></td>
                <td><a href="/toTsort" class="a">选择</a> </td>
            </tr>
            <tr>
                <td><h2>希尔排序:</h2></td>
                <td><a href="/toJsort" class="a">选择</a> </td>
            </tr>
        </table>
    </div>

</body>
</html>